@using Microsoft.AspNetCore.Identity;
@model IQueryable<J6.DAL.Entities.AppRole>


@{
    ViewBag.Title = "Roles";

}



<section class="mt-2 container">

    <div class="container mt-4">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2 class="text-center text-uppercase">List of Roles</h2>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <a asp-action="CreateRole" class="btn btn-sm btn-primary text-uppercase p-3"><i class="fas fa-plus-circle fa-2x"></i></a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center table-hover js-basic-example dataTable" style="display:block;width:800px">

                        <thead>
                            <tr style="width:100%">
                                <th class="text-center" style="width:200px">
                                    Role
                                </th>
                                <th class="text-center" style="width:400px">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="" style="width:400px">
                                <a asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-warning m-2 p-3"><i class="fa fa-edit fa-2x"></i></a>
                                <a asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger m-2 p-3"><i class="fa fa-trash fa-2x"></i></a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



@*<a asp-controller="Admin" asp-action="CreateRole" class="btn btn-primary">Add Role</a>


<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Welcome To Roles</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center table-hover js-basic-example dataTable">

                            <thead>
                                <tr>
                                    <th class="text-center">Role Name</th>
                                    <th class="text-center">Edit</th>
                                    <th class="text-center">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.Name</td>


                                        <td><a asp-controller="Admin" asp-action="EditRole" asp-route-id="@item.Id" class="btn btn-success">Edit</a></td>
                                        <td><a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>

                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@





@*<input type="text" placeholder="@SharedLocalizer["Edit"]" />*@



@section DataTableSection{

    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                //bLengthChange: false,
                //bInfo: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],

            });
        });
    </script>
}

