@using Microsoft.AspNetCore.Identity;
@using J6.DAL.Entities;
@inject SignInManager<AppUser> signInManager

@model IEnumerable<J6.DAL.Entities.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<div class="container row m-b-0 mt-3 p-0 text-center" style="">

    <div class="card shadow mb-4 text-center">
        <div class="card-header py-3">
            <h2 class="text-center text-uppercase">List of Orders</h2>
        </div>
        <div class="card-body">
            <div class="mb-2">
                <div class="p-2 m-2 text-center container" style="background-color: #343a40">
                    <ul style="font-size: 18px; font-weight: 800; font-family: cursive " class="p-2">
                        <li style="color: lightblue ;display: inline;" class="mr-4">InDelivery</li>
                        <li style="color: lightgreen; display: inline;" class="mr-4">Done</li>
                        <li style="color: pink; display: inline;" class="mr-4">Canceled</li>
                        <li style="color: lightyellow; display: inline;" class="mr-4">InProgress</li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive text-center" >
                <table class="table table-bordered text-center table-hover js-basic-example dataTable" style="width:800px">

                    <thead>
                        <tr style="width:100%">
                            <th class="text-center" style="width:100px">
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th class="text-center" style="width: 100px">
                                @Html.DisplayNameFor(model => model.CustimerId)
                            </th>
                            <th class="text-center" style="width: 100px">
                                @Html.DisplayNameFor(model => model.OrderCost)
                            </th>
                            <th style="width: 100px">
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th class="text-center" style="width:100px">Handle Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr style="width:100%;background-color: @(item.Status.ToString() == "InProgress" ? "lightyellow" : (item.Status.ToString() == "InDelivery" ? "lightblue":(item.Status.ToString() == "Done" ?"lightgreen":"pink")));">
                                <td style="width:100px">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td style="width:100px">
                                    @Html.DisplayFor(modelItem => item.CustimerId)
                                </td>
                                <td style="width:100px">
                                    @Html.DisplayFor(modelItem => item.OrderCost)
                                </td>
                                <td style="width:100px">
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td class="container" style="width:100px">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary w-1 m-2 p-3"><i class="fa fa-wrench fa-2x"></i></a>
                                    <a asp-action="GetProducts" asp- asp-route-orderId="@item.Id" class="btn btn-danger w-1 m-2 p-3"><i class="fa fa-info-circle fa-2x"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
    @section DataTableSection{

        <script>
            $(function () {
                $('.js-basic-example').DataTable({
                    responsive: true,
                    paging: true,
                    pageLength: 10,
                    bSort: true,
                    bFilter: true,
                    lengthMenu: [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],

                });
            });
        </script>
    }
