@model J6.DAL.Entities.Brand

@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/MainLayout.cshtml"; }
<h2>Details for BrandID @Model.BrandId</h2>
<div class="card border-success mb-3 col-md-6 col-12" style="font-size:larger;">
    <div style="width:50%;">
        <img src="~/images/@Model.Image"
             class="card-img-top m-2"
             asp-append-version="true" />
    </div>
    <div class="card-header bg-transparent border-success"> 
        <h3>
            @Html.DisplayFor(model => model.BrandName)
        </h3>
    </div>
    <div class="card-footer bg-transparent border-success">
        @Html.DisplayNameFor(model => model.CreatedAt)
        @Html.DisplayFor(model => model.CreatedAt)
    </div>
    <div class="card-footer bg-transparent border-success">
        @Html.DisplayNameFor(model => model.UpdatedAt)
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>
    <div class="card-footer bg-transparent border-success">
        <a asp-action="Index" class="btn btn-sm btn-primary text-uppercase m-2 mr-4 p-3"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
        <a asp-action="Edit" asp-route-id="@Model.BrandId" class="btn btn-warning m-2 p-3"><i class="fa fa-edit fa-2x"></i></a>
    </div>
</div>